<div class="modal fade" id="modal_agregado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">DESTAJO AGREGADO</h5>
            </div>
            <div class="modal-body" style="text-align:center">

                <img src="~/imagenes/checked.png" width="50%" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>